H1{
    align-items: center;
}

body{
    background-color: green;
}

.calculatrice{
    color: grey;
    height: 100vh;
    width: 100vh;
    border-radius: 20%;
   float: left;
   padding: 10%;
   text-align: center;

}
.ecran{
    background-color: azure;
    float: left;
    border: solid gray 1px;
    border-radius: 15%;
    padding-top:10% ;
    margin: auto;
    font-size: 100%;
    float: right;
}

.button{
    display: grid;
    display: list-item *4;
    display: inline;
    text-align: center;

    border-radius: 15%;
    place-items: center;
    font-size: 1.5rem;

}
